.nav_menu {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
  background-color: rgb(7, 8, 58);
  color: aliceblue !important;
}
.nav_list_menu {
  display: flex;
}
.nav_list {
  list-style-type: none;
  margin-left: 30px;
}
.cart {
  margin: 0px 10px;
}
.logo {
  width: 45px !important;
}
.nav_menu {
  display: flex !important;
}
@media screen and (max-width: 950px) {
  .nav_menu {
    display: none !important;
  }
}
